body {
    font-family: Helvetica, sans-serif;
    margin: 0px; 
}

ul#head {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #444;
    display: flex;
    justify-content: center;
}

ul#head li {
    list-style: none;
    display: inline-block;
    padding: 14px 16px;
}

ul#head li:hover {
    background-color: #111;
}

ul#head li a {
    color: white; 
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 100;
    padding: 14px 0;
}

#active-tab {
    background-color: rgb(0, 0, 0);
}
#active-tab a{
    font-weight: 800;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
    font-size: 4em;
    text-align: center;
    color: white;
    padding-top: .5em;
    padding-bottom: .5em; 
    margin-top: 0em;
    margin-bottom: 0em;
    border-bottom-width: .1em;
    border-bottom-style: solid;
    background-color: rgb(0, 58, 72);
    border-color:rgb(0, 119, 146);;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    color: rgb(0, 119, 146);
}

#main {
    margin-left: 10%;
    margin-right: 4em;
    margin-top: 2em; 
}

#headshot {
    width: 20%;
    min-width: 20em;
    float: left;
    margin-right: 2em;
}

#contact {
    float: left;
}