/* Enter color paramters */
label {
    display: block;
    margin: 10px 0;
}

label span {
    display: inline-block;
    text-align: right;
    width: 300px;
}

body {
    text-align: center;
}

form {
    display: inline-block;
    width: 95%; 
}
/* Sizing for Project Containers - use js to edit. 
Also, probably need to change all this to grid layout 
https: //www.outsystems.com/blog/posts/css-vertical-align/
https: //css-tricks.com/snippets/css/complete-guide-grid/
*/


.normal {
    height: 250px;
    line-height: 250px;
}

.colorblind {
    height: 75px;
    line-height: 75px;
}

#target {
    width: 95%; 
    margin: auto;
}

.lbl {
    text-align: right;
    color:black
}

.columns {
    float: left;
    width: 21%; /*Change this depending on number of columns*/
    padding: 0%;
    margin: .5%;
    height: 100%;
}

.form-column{
    float: left;
    width: 50%;
}

/* Color and Images for Project Containers 
- Using JS, generate the correct number of columns, then set to the 
correct colors for each vision type 
- I think do this as a set of divs containing all colors so sizing/highlight on hover is consistent. 
some examples: 
- generate colors: https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Applying_styles_and_colors
- flexible number of columns: https://jsfiddle.net/mckinleymedia/chLLg4rr/
- get data from form: 
*/
